{% extends "base.html" %}
{% load static %}

{% block content %}


<!--
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Getting Started with Python on Heroku</h1>
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

-->


<div class="jumbotron text-center">
  <div class="container">

    <label for="website"><h2>Face Detection using Python OpenCV</h2></label>

    <p>
      <a href="{{ out_image|default_if_none:'https://via.placeholder.com/600x400?text=github.com/opencv' }}" download>
        <img src="{{ out_image|default_if_none:'https://via.placeholder.com/600x400?text=Upload+an+Image+with+or+without+Faces' }}" class="img-rounded" id="user-image" width="700">
      </a>
    </p>

    <p>Click the image to Download it.</p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-4 control-label" for="exampleFormControlFile1">Upload a jpeg file</label>
        <div class="col-sm-4">
          <input class="form-control" name="document" type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="col-sm-4"></div>

      </div>

      <button type="submit" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Upload</button>

    </form>

  </div>
</div>


<div class="container">
  <div class="alert alert-info text-center" role="alert">
    More images to come in future to this URL <a href="https://opencv-act.herokuapp.com" class="alert-link">OpenCV in Action</a>.
  </div>
  <hr>
  <!--
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
      </ul>
    </div>
  </div>  row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}


Client : Equinor
 	 Implemented private and hybrid cloud solutions based on SDDC, SD-Storage and Virtualization. Developed SOPs,
 	 key mobility use cases for AWS, Azure, VMware, Hybrid-Cloud IaaS/PaaS.
 	 Deployed High Availability failover Cluster for VMware Orchestrator nodes for better disaster recovery mechanism.
 	 Designed and enhanced the VMware Orchestrator workﬂows with SOAP and REST API integration for Automating
 Infrastructure.
 Client : Unilever
 	 Architecture design for Scalr Cloud Management Platform for Azure and AWS integration structure.
 	 Working as Cloud Administrator on Microsoft Azure, involved in conﬁguring virtual machines, storage accounts,
 resource groups.
 	 Using Powershell to write, debug scripts to automate the processes and do migration of VM, involving copying and creating of VHDS.
